# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Code Composer Studio
# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
Debug/
Release/
.xdchelp
.config/
.launches/
**/Debug
**/Release
*/Debug/
*/Release/
**/.xdchelp
**/.config
*/.config/
**/.launches
*/.launches/
**/targetConfigs
*/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root

#html
*.html


# Created by https://www.toptal.com/developers/gitignore/api/atmelstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=atmelstudio

### AtmelStudio ###
## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo

# End of https://www.toptal.com/developers/gitignore/api/atmelstudio
